# deps
/node_modules

# generated content
.contentlayer
.content-collections
.source
content/llm/all.md
all.md
git_greppers/meeting-baas-git-diffs/
git_greppers/**/*.log
git_greppers/**/processing.log
git_greppers/**/*.diff
processing.log
content.txt

# test & build
/coverage
/.next/
/out/
/build
*.tsbuildinfo

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# others
.env*.local
.env
.vercel
next-env.d.ts

#
fumadocs-basehub

# Add this entry to the existing .gitignore file
scripts-dist/


package-lock.json
