{"openapi":"3.1.0","info":{"title":"Meeting BaaS API","summary":"API for recording and transcribing video meetings across Zoom, Google Meet, and Microsoft Teams. Features include bot management, calendar integration, and transcription services.","description":"Meeting BaaS API","termsOfService":"https://meetingbaas.com/terms-and-conditions","version":"1.1"},"servers":[{"url":"https://api.meetingbaas.com","description":"Production server"}],"paths":{"/bots/":{"post":{"summary":"Join","description":"Have a bot join a meeting, now or in the future. You can provide a `webhook_url` parameter to receive webhook events specific to this bot, overriding your account's default webhook URL. Events include recording completion, failures, and transcription updates.","operationId":"join","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JoinRequest"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JoinResponse"}}}},"4XX":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JoinMeetingError"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/bots/{uuid}":{"delete":{"summary":"Leave","description":"If the bot is in the meeting, invoking this route will cause it to exit the meeting.","operationId":"leave","responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeaveResponseSuccess"}}}},"4XX":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeaveResponseError"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/bots/meeting_data":{"get":{"summary":"Get Meeting Data","description":"Get meeting recording and metadata","operationId":"get_meeting_data","parameters":[{"in":"query","name":"bot_uuid","description":"The bot UUID to get.","required":true,"schema":{"description":"The bot UUID to get.","type":"string","format":"uuid"},"style":"form"},{"in":"query","name":"include_transcripts","description":" Whether to include transcription data in the response. Defaults to true if not specified.","schema":{"description":" Whether to include transcription data in the response. Defaults to true if not specified.","default":true,"type":"boolean"},"style":"form"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetMeetingDataQuery"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeetingDataResponseSuccess"}}}},"4XX":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeetingDataResponseError"}}}}},"security":[{"ApiKeyAuth":[]}]}}},"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"x-meeting-baas-api-key","description":"API key for authentication"}},"schemas":{"AudioFrequency":{"type":"string","enum":["16khz","32khz","48khz","44_1khz"]},"AutomaticLeaveRequest":{"type":"object","properties":{"noone_joined_timeout":{"description":"The timeout in seconds for the bot to wait for participants to join before leaving the meeting, defaults to 600 seconds","type":["integer","null"],"format":"uint32","minimum":0.0},"waiting_room_timeout":{"description":"The timeout in seconds for the bot to wait in the waiting room before leaving the meeting, defaults to 600 seconds","type":["integer","null"],"format":"uint32","minimum":0.0}}},"Bot":{"description":"GetableBot is composed of the QueryableBot and QueryableBotParams structures.","type":"object","required":["account_id","bot_name","bot_param_id","created_at","diarization_v2","ended_at","extra","id","meeting_url","noone_joined_timeout","recording_mode","transcription_custom_parameters","uuid","waiting_room_timeout"],"properties":{"account_id":{"type":"integer","format":"int32"},"bot_image":{"type":["string","null"]},"bot_name":{"type":"string"},"bot_param_id":{"type":"integer","format":"int32"},"created_at":{"$ref":"#/components/schemas/OptionalDateTime"},"diarization_fails":{"type":["integer","null"],"format":"int32"},"diarization_v2":{"type":"boolean"},"ended_at":{"$ref":"#/components/schemas/OptionalDateTime"},"enter_message":{"type":["string","null"]},"errors":{"type":["string","null"]},"event_id":{"type":["integer","null"],"format":"int32"},"extra":{"$ref":"#/components/schemas/Extra"},"id":{"type":"integer","format":"int32"},"last_webhook_status_code":{"type":["integer","null"],"format":"int32"},"media_duration_sec":{"type":["number","null"],"format":"double"},"meeting_url":{"type":"string"},"noone_joined_timeout":{"type":"integer","format":"int32"},"recording_mode":{"$ref":"#/components/schemas/RecordingMode"},"scheduled_bot_id":{"type":["integer","null"],"format":"int32"},"speech_to_text_api_key":{"type":["string","null"]},"speech_to_text_provider":{"anyOf":[{"$ref":"#/components/schemas/SpeechToTextProvider"},{"type":"null"}]},"streaming_audio_frequency":{"anyOf":[{"$ref":"#/components/schemas/AudioFrequency"},{"type":"null"}]},"streaming_input":{"type":["string","null"]},"streaming_output":{"type":["string","null"]},"transcription_custom_parameters":{"$ref":"#/components/schemas/Extra"},"transcription_fails":{"type":["integer","null"],"format":"int32"},"transcription_payloads":true,"user_reported_error":true,"uuid":{"type":"string","format":"uuid"},"waiting_room_timeout":{"type":"integer","format":"int32"},"webhook_url":{"type":["string","null"]},"zoom_sdk_id":{"type":["string","null"]},"zoom_sdk_pwd":{"type":["string","null"]}}},"BotData":{"description":"GetableBotData is composed of the GetableBot structure and GetableTranscript structure array.","type":"object","required":["bot","transcripts"],"properties":{"bot":{"$ref":"#/components/schemas/Bot"},"transcripts":{"type":"array","items":{"$ref":"#/components/schemas/Transcript"}}}},"CommonResponseError":{"oneOf":[{"description":"No account found associated with your api key.","type":"string","enum":["NoAccountForApiKey"]},{"description":"You have been banned from using this api :( 🐷","type":"string","enum":["BannedUser"]},{"description":"The bot could not be found.","type":"string","enum":["BotNotFound"]},{"description":"Can't remove non-owned bot.","type":"string","enum":["NonOwnedBot"]},{"description":"There are no longer enough tokens to create a new bot.","type":"string","enum":["NotEnoughTokens"]},{"description":"An unexpected error has happened : Please write a rapport tu us.","type":"string","enum":["InternalError"]}]},"Extra":{"description":"Custom data object","additionalProperties":true},"GetMeetingDataQuery":{"type":"object","required":["bot_uuid"],"properties":{"bot_uuid":{"description":"The bot UUID to get.","type":"string","format":"uuid"},"include_transcripts":{"description":" Whether to include transcription data in the response. Defaults to true if not specified.","default":true,"type":"boolean"}}},"JoinMeetingError":{"anyOf":[{"$ref":"#/components/schemas/CommonResponseError"},{"description":"The waiting room timeout value you specified is too high.","type":"null"},{"description":"The no one joined timeout value you specified is too high.","type":"null"},{"description":"Invalid Transcription parameters.","$ref":"#/components/schemas/JsonValidationErrorArray"},{"description":"Your own transcription Api Key must be used for transcription parameters feature.","type":"null"}]},"JoinRequest":{"type":"object","required":["bot_name","meeting_url"],"properties":{"automatic_leave":{"description":"The bot will leave the meeting automatically after the timeout, defaults to 600 seconds.","anyOf":[{"$ref":"#/components/schemas/AutomaticLeaveRequest"},{"type":"null"}]},"bot_image":{"description":"The image to use for the bot, must be a URL. Recommended ratio is 16:9.","type":["string","null"],"format":"uri"},"bot_name":{"type":"string"},"entry_message":{"description":"There are no entry messages on Microsoft Teams as guests outside of an organization do not have access to the chat.","type":["string","null"]},"extra":{"description":"A JSON object that allows you to add custom data to a bot for your convenience, e.g. your end user's ID.","default":null,"$ref":"#/components/schemas/Extra"},"meeting_url":{"type":"string"},"recording_mode":{"description":"The recording mode for the bot, defaults to 'speaker_view'.","anyOf":[{"$ref":"#/components/schemas/RecordingMode"},{"type":"null"}]},"speech_to_text":{"description":"The default speech to text provider is Gladia.","anyOf":[{"$ref":"#/components/schemas/SpeechToTextRequest"},{"type":"null"}]},"streaming":{"description":"WebSocket streams for 16 kHz audio. Input stream receives audio sent to the bot. Output stream receives audio from the bot.","anyOf":[{"$ref":"#/components/schemas/StreamingRequest"},{"type":"null"}]},"transcription_custom_parameters":{"description":"For your own transcription parameters","default":null},"webhook_url":{"description":"A webhook URL to send events to, overrides the webhook URL set in your account settings.","type":["string","null"]},"zoom_sdk_id":{"description":"For the Own Zoom Credentials feature, we need your zoom sdk id.","type":["string","null"]},"zoom_sdk_pwd":{"description":"For the Own Zoom Credentials feature, we need your zoom sdk pwd.","type":["string","null"]}},"additionalProperties":false},"JoinResponse":{"description":"In case of join route success.","type":"object","required":["bot_uuid"],"properties":{"bot_uuid":{"description":"This represents the unique identifier of your bot.","type":"string","format":"uuid"}}},"JsonValidationError":{"type":"object","required":["error","location"],"properties":{"error":{"description":"Error kind.","type":"string"},"location":{"description":"Error location.","type":"string"}}},"JsonValidationErrorArray":{"type":"array","items":{"$ref":"#/components/schemas/JsonValidationError"}},"LeaveResponseError":{"anyOf":[{"$ref":"#/components/schemas/CommonResponseError"},{"description":"The bot does not appear to be in the meeting.","type":"null"}]},"LeaveResponseSuccess":{"description":"In case of leave route success.","type":"object","required":["ok"],"properties":{"ok":{"description":"Just a simple acknowledgment.","type":"boolean"}}},"MeetingDataResponseError":{"anyOf":[{"$ref":"#/components/schemas/CommonResponseError"}]},"MeetingDataResponseSuccess":{"description":"In case of meeting data  route success.","type":"object","required":["bot_data","duration","flac","mp4"],"properties":{"bot_data":{"description":"Just a simple acknowledgment.","$ref":"#/components/schemas/BotData"},"duration":{"description":"Duration of the recording in seconds","type":"integer","format":"int64"},"flac":{"description":"URL to access the recording FLAC file. Will be an empty string if the file doesn't exist in S3.","type":"string"},"mp4":{"description":"URL to access the recording MP4 file. Will be an empty string if the file doesn't exist in S3.","type":"string"}}},"OptionalDateTime":{"type":["string","null"],"format":"date-time"},"RecordingMode":{"description":"Recording mode for the bot","oneOf":[{"description":"Records the active speaker view","type":"string","enum":["speaker_view"]},{"description":"Records the gallery view showing multiple participants","type":"string","enum":["gallery_view"]},{"description":"Records only the audio from the meeting","type":"string","enum":["audio_only"]}]},"SpeechToTextProvider":{"oneOf":[{"description":"The unrivaled leader in French transcription services.","type":"string","enum":["Gladia"]},{"description":"Not as good as Gladia, but hey — we made it ourselves.","type":"string","enum":["Runpod"]}]},"SpeechToTextRequest":{"type":"object","required":["provider"],"properties":{"api_key":{"type":["string","null"]},"provider":{"$ref":"#/components/schemas/SpeechToTextProvider"}}},"StreamingRequest":{"type":"object","properties":{"audio_frequency":{"anyOf":[{"$ref":"#/components/schemas/AudioFrequency"},{"type":"null"}]},"input":{"type":["string","null"]},"output":{"type":["string","null"]}}},"Transcript":{"type":"object","required":["bot_id","id","speaker","start_time","words"],"properties":{"bot_id":{"type":"integer","format":"int32"},"end_time":{"type":["number","null"],"format":"double"},"id":{"type":"integer","format":"int32"},"lang":{"type":["string","null"]},"speaker":{"type":"string"},"start_time":{"type":"number","format":"double"},"user_id":{"type":["integer","null"],"format":"int32"},"words":{"type":"array","items":{"$ref":"#/components/schemas/Word"}}}},"Word":{"type":"object","required":["bot_id","confidence","end_time","id","start_time","text"],"properties":{"bot_id":{"type":"integer","format":"int32"},"confidence":{"type":"number","format":"double"},"end_time":{"type":"number","format":"double"},"id":{"type":"integer","format":"int32"},"start_time":{"type":"number","format":"double"},"text":{"type":"string"},"user_id":{"type":["integer","null"],"format":"int32"}}}}},"security":[{"ApiKeyAuth":[]}],"tags":[{"name":"Webhooks","description":"Webhooks allow you to receive real-time notifications when specific events occur in the Meeting BaaS system. To use webhooks, set a webhook URL in your account settings or provide it when creating a bot.","externalDocs":{"description":"Detailed webhook documentation","url":"https://docs.meetingbaas.com/webhooks"}}]}